<div *ngIf="branch">
  <h2>Branch Details</h2>
  <p><strong>Branch Code:</strong> {{ branch!.BranchCode }}</p>
  <p><strong>Branch Name:</strong> {{ branch!.BranchName }}</p>
  <p><strong>GST State Code:</strong> {{ branch!.GSTStateCode }}</p>
  <p><strong>Branch Type:</strong> {{ branch!.BranchType }}</p>
  <p><strong>Latitude:</strong> {{ branch!.Latitude }}</p>
  <p><strong>Longitude:</strong> {{ branch!.Longitude }}</p>
  <p><strong>Country:</strong> {{ branch!.Country }}</p>
  <p><strong>State:</strong> {{ branch!.State }}</p>
  <p><strong>District:</strong> {{ branch!.District }}</p>
  <p><strong>Taluka:</strong> {{ branch!.Taluka }}</p>
  <p><strong>City:</strong> {{ branch!.City }}</p>
  <p><strong>Status:</strong> {{ branch!.Status }}</p>
  <p><strong>UploadBranch:</strong> {{ branch!.UploadBranch }}</p>
  <p><strong>UploadShopAct:</strong> {{ branch!.UploadShopAct }}</p>
  <p><strong>RegionalBranchName:</strong> {{ branch!.RegionalBranchName }}</p>
  <p><strong>Created By:</strong> {{ branch!.CreatedBy }}</p>
  <!-- <p><strong>Created At:</strong> {{ branch!.created_at | date }}</p>
  <p><strong>Updated At:</strong> {{ branch!.updated_at | date }}</p> -->
</div>
