<div *ngIf="tyreinventory">
  
    <h2>Tyre Inventory Details</h2>
    <p><strong>Id:</strong> {{ tyreinventory.id }}</p>
    <p><strong>Tyre Code:</strong> {{ tyreinventory.tyre_code }}</p>
    <p><strong>Tyre number:</strong> {{ tyreinventory.tyre_number }}</p>
    <p><strong>Manufacturer:</strong> {{ tyreinventory.manufacturer }}</p>
    <p><strong>Tyre Category:</strong> {{ tyreinventory.tyre_category }}</p>
    <p><strong>Tyre Size:</strong> {{ tyreinventory.tyre_size }}</p>
    <p><strong>Tyre Pattern:</strong> {{ tyreinventory.tyre_pattern }}</p>
    <p><strong>Purchase Date:</strong> {{ tyreinventory.purchase_date }}</p>
    <p><strong>Quantity:</strong> {{ tyreinventory.qty }}</p>
    <p><strong>Price:</strong> {{ tyreinventory.price }}</p>
    <p><strong>Tyre Type:</strong> {{ tyreinventory.tyre_type }}</p>
    <p><strong>Tyre Position:</strong> {{ tyreinventory.tyre_position }}</p>
    <p><strong>Tyre Weight:</strong> {{ tyreinventory.tyre_weight }}</p>
    <p><strong>Tyre Status:</strong> {{ tyreinventory.tyre_status }}</p>
    <p><strong>Status:</strong> {{ tyreinventory.status }}</p>
    <p><strong>Created At:</strong> {{ tyreinventory.created_at | date }}</p>
    <p><strong>Updated At:</strong> {{ tyreinventory.updated_at | date }}</p>
  </div>