<!-- Import PrimeNG Steps and Messages components in your component template -->
<p-steps [model]="steps" [(activeIndex)]="currentStep" [readonly]="false"></p-steps>
<p-messages [(value)]="messages"></p-messages>

<!-- Step 1: Tenant Form -->
<div *ngIf="currentStep === 0">
    <!-- Form layout using PrimeNG components -->
    <form [formGroup]="citymasterForm" (ngSubmit)="onSubmit()">
        <p-card>
            <p-fieldset legend="Citymaster Form">
                <div class="card flex flex-wrap gap-4 p-fluid mb-2">
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="Country">Country</label>
                        <p-dropdown id="country" [options]="countryOptions" formControlName="Country" placeholder="Select a Country" optionLabel="label" optionValue="value" [showClear]="true" (onChange)="onCountryChange($event)"></p-dropdown>
                    </div>

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="state">State</label>
                        <!-- <p-dropdown id="state" [options]="stateOptions" formControlName="State" placeholder="Select a Country" optionLabel="label" optionValue="value" [showClear]="true" (onChange)="onStateChange($event)"></p-dropdown> -->
                        <!-- <input id="state" type="text" [value]="selectedState" formControlName="State" placeholder="Select a State" (click)="showStateDropdown()" />

                        <ng-container *ngIf="showDropdown">
                            <ul>
                                <li *ngFor="let option of stateOptions" (click)="selectState(option)">{{ option.label }}</li>
                            </ul>
                        </ng-container> -->
                        <!-- <ng-container *ngIf="showDropdown">
                            <p-dropdown [options]="stateOptions" [(ngModel)]="selectedState" optionLabel="label" optionValue="value" placeholder="Select a State" (onChange)="onStateChange($event)"></p-dropdown>
                        </ng-container> -->
                        <!-- <input id="state" type="text" [value]="selectedState" formControlName="State" placeholder="Select a State" (click)="showStateDropdown()" /> -->
                        <!-- <ng-container *ngIf="showDropdown"> -->
                        <p-dropdown [options]="stateOptions" [(ngModel)]="selectedState" optionLabel="label" formControlName="State" optionValue="value" placeholder="Select a State" (onChange)="onStateChange($event)" [showClear]="true"></p-dropdown>
                        <!-- </ng-container> -->

                    </div>

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="District">District</label>
                        <p-dropdown [options]="districtOptions" [(ngModel)]="selectedDistrict" optionLabel="label" [showClear]="true" formControlName="District" optionValue="value" placeholder="Select a District" (onChange)="onDistrictChange($event)"></p-dropdown>
                    </div>

                </div>

                <!-- Add formControlName for Taluka, Postname, and Pincode -->
                <div class="card flex flex-wrap gap-4 p-fluid mb-2">
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="Taluka">Taluka</label>
                        <p-dropdown id="Taluka" [options]="talukaOptions" formControlName="Taluka" [(ngModel)]="selectedTaluka" placeholder="Select a taluka" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>

                    </div>


                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="Pincode">Pincode</label>

                        <input type="text" id="Pincode" formControlName="Pincode" pInputText />
                    </div>
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="zone">Zone</label>
                        <input type="text" id="zone" formControlName="Zone" pInputText />
                    </div>

                </div>

                <!-- Add formControlName for Village, City, and Latitude -->
                <div class="card flex flex-wrap gap-4 p-fluid ">
                    <div class="flex-auto col-2">
                        <label class="block mb-2" for="CityNameEng">City Name Eng</label>
                        <input type="text" id="CityNameEng" formControlName="CityNameEng" pInputText (input)="onInputChange($event)" />
                    </div>
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="CityNameMar">Regional City Name
                         </label>
                        <input type="text" id="CityNameMar" formControlName="CityNameMar" pInputText />
                    </div>
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="CityNameGmap"> City Name Gmap
                         </label>
                        <input type="text" id="CityNameGmap" formControlName="CityNameGmap" pInputText />
                    </div>

                </div>

                <!-- Add formControlName for Longitude, Zone, and RouteNo -->
                <div class="card flex flex-wrap gap-4 p-fluid ">
                    <div class="flex-auto col-2">
                        <label class="block mb-2" for="Latitude">Latitude</label>
                        <input type="text" id="Latitude" (change)="validateLatitude($event)" formControlName="Latitude" pInputText />
                        <span id="latitudeValidationMessage" class="text-red-500 hidden">Please enter a valid latitude (-90 to 90)</span>
                    </div>
                    <div class="flex-auto col-2">
                        <label class="block mb-2" for="Longitude">Longitude</label>
                        <input type="text" id="Longitude" (change)="validateLongitude($event)" formControlName="Longitude" pInputText />
                        <span id="longitudeValidationMessage" class="text-red-500 hidden">Please enter a valid longitude (-180 to 180)</span>
                    </div>




                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="RouteNo">RouteNo</label>
                        <input type="text" id="RouteNo" formControlName="RouteNo" pInputText />
                    </div>


                </div>

                <!-- Add formControlName for DelDepot, NearStateHighway, and NearestNationalHighway -->
                <div class="card flex flex-wrap gap-4 p-fluid ">

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="RouteSequens">Route Sequence No</label>
                        <input type="text" id="RouteSequens" formControlName="RouteSequens" pInputText />
                    </div>
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="DelDepot">Del
                            Depot</label>
                        <input type="text" id="DelDepot" formControlName="DelDepot" pInputText />
                    </div>

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="Tat">Tat
                            </label>
                        <input type="text" id="Tat" formControlName="Tat" pInputText />
                    </div>

                </div>

                <!-- Add formControlName for Active and AddUser -->
                <div class="card flex  gap-4 p-fluid ">

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="ODA">ODA
                            </label>

                        <p-dropdown id="ODA" [options]="ODAOptions" formControlName="ODA" placeholder="Select a ODA" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>

                    </div>
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="NearStateHighway">Near
                            State Highway</label>
                        <input type="text" id="NearStateHighway" formControlName="NearStateHighway" pInputText />
                    </div>

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="NearestNationalHighway">Nearest National
                            Highway</label>
                        <input type="text" id="NearestNationalHighway" formControlName="NearestNationalHighway" pInputText />
                    </div>

                </div>

                <div class="card flex  gap-4 p-fluid ">


                    <div class="flex-auto col-2 " *ngIf="isEditMode">
                        <label class="block  mb-2" for="status">Status</label>
                        <p-dropdown id="status" [options]="statusOptions" formControlName="status" placeholder="Select a Status" optionLabel="label" optionValue="value" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for="AddUser">AddUser</label>
                        <input type="text" id="AddUser" formControlName="AddUser" pInputText />
                    </div>
                    <div class="flex-auto col-2">
                        <label class="block  mb-2" for=""></label>
                        <!-- <input type="text" id="AddUser" formControlName="AddUser" pInputText /> -->
                    </div>
                </div>
            </p-fieldset>

            <form [formGroup]="uploadcitymasterForm">
                <div class="form-group mt-5">
                    <input type="file" pInputText accept=".xlsx, .xls, .CSV" #fileInput class="mr-5" />
                    <button type="button" pButton label="Upload Excel" (click)="uploadFile(fileInput)" class="mb-2"></button>
                </div>
            </form>



            <p-footer>
                <button type="button" pButton label="Cancel" (click)="cancel()" class="p-button-secondary mx-1"></button>
                <button type="submit" pButton [label]="isEditMode ? 'Update' : 'Save'" [disabled]="!citymasterForm.valid"></button>
                <button pButton type="button" label="Download Excel Format" (click)="downloadExcelFormat()" class="p-button-secondary mx-1"></button>

            </p-footer>
        </p-card>
    </form>

</div>

<div *ngIf="currentStep === 1">
    <div *ngIf="operationSuccessful">
        <app-citymaster-detail [citymaster]="createdOrEditedCitymaster"></app-citymaster-detail>

        <button type="button" pButton label="OK" (click)="resetFormAndNavigateBack()"></button>
    </div>
    <div *ngIf="!operationSuccessful">
        <p-messages [value]="messages"></p-messages>
        <button type="button" pButton label="OK" (click)="currentStep = 0"></button>
    </div>
</div>

<script>
    // Event listener for when user types in the English city name input field
    document.getElementById('CityNameEng').addEventListener('input', translateToMarathi);

    // Function to translate English text to Marathi using Web Speech API
    async function translateToMarathi() {
        const cityNameEng = document.getElementById('CityNameEng').value;
        const response = await fetch(`https://api.mymemory.translated.net/get?q=${encodeURIComponent(cityNameEng)}&langpair=en|mr`);
        const data = await response.json();
        const cityNameMar = data.responseData.translatedText;
        document.getElementById("CityNameMar").value = cityNameMar;
    }
</script>