<div *ngIf="vehiclecapacitymodel">
    <h2>Vehicle Capacity Model Details</h2>
    <p><strong>Id:</strong> {{ vehiclecapacitymodel.id }}</p>
    <p><strong>Vehicle Model:</strong> {{ vehiclecapacitymodel.vehcpctmodel }}</p>
    <p><strong>Vehicle Capacity:</strong> {{ vehiclecapacitymodel.vehcpctmodel }}</p>
    <p><strong>Model Description:</strong> {{ vehiclecapacitymodel.modeldesc }}</p>
    <p><strong>Status:</strong> {{ vehiclecapacitymodel.status }}</p>
    <p><strong>Created At:</strong> {{ vehiclecapacitymodel.created_at | date }}</p>
    <p><strong>Updated At:</strong> {{ vehiclecapacitymodel.updated_at | date }}</p>
  </div>