

<div *ngIf="hamali">
  <h2>Hamali Details</h2>
  <p><strong>Id:</strong> {{ hamali.id }}</p>
  <p><strong>VendorCode:</strong> {{ hamali.VendorCode }}</p>
  <p><strong>Hvendor:</strong> {{ hamali.Hvendor }}</p>
  <p><strong>DEPOT:</strong> {{ hamali.DEPOT }}</p>
  <p><strong>HAccountNO:</strong> {{ hamali.HAccountNO }}</p>
  <p><strong>Hbank:</strong> {{ hamali.Hbank }}</p>
  <p><strong>Created At:</strong> {{ hamali.created_at | date }}</p>
  <p><strong>Updated At:</strong> {{ hamali.updated_at | date }}</p>
</div>
